body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

button {
    cursor: pointer;
}

#botaoTema {
    position: fixed;
    top: 10px;
    right: 10px;

    width: 40px;
    height: 40px;

    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    cursor: pointer;
}


